<ion-header [translucent]="true" >
  <ion-toolbar class="register-header">
    <ion-title class="header-text">Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="client-app-bg"></div>
  <div class="input-contents">
    <ion-input label="First Name" label-placement="floating" fill="outline" type="text" [(ngModel)]="firstName" (ngModelChange)="checkEmptyFields()"></ion-input>
    <ion-input label="Middle Name" label-placement="floating" fill="outline" type="text" [(ngModel)]="middleName" (ngModelChange)="checkEmptyFields()"></ion-input>
    <ion-input label="Last Name" label-placement="floating" fill="outline" type="text" [(ngModel)]="lastName" (ngModelChange)="checkEmptyFields()"></ion-input>
    <ion-input label="Contact Number" label-placement="floating" fill="outline" type="text" (input)="onNumericInput($event)" [(ngModel)]="contactNum" (ngModelChange)="checkEmptyFields()" maxlength="11"></ion-input>
    <ion-input label="Company" label-placement="floating" fill="outline" type="text" [(ngModel)]="company" (ngModelChange)="checkEmptyFields()"></ion-input>
    <ion-input label="Purpose" label-placement="floating" fill="outline" type="text" [(ngModel)]="purpose" (ngModelChange)="checkEmptyFields()"></ion-input>
  </div>
  <div class="input-contents-2">
    <ion-item-group class="flex-group t-and-c">
      <ion-checkbox labelPlacement="end" [(ngModel)]="checkboxValue" (ngModelChange)="checkEmptyFields()"></ion-checkbox>
      <ion-label>I agree with the <span (click)="showTermsAndCond()">Terms & Conditions</span></ion-label>
    </ion-item-group>
    <ion-button expand="block" shape="round" [disabled]="hasEmptyFields" (click)="goToGuestPrivacy()">Register</ion-button>
  </div>
  <div class="input-contents-3">
    <ion-item-group class="flex-group return-to-home" (click)="goBack()">
      <ion-icon name="return-up-back-outline"></ion-icon>
      <ion-label>Back to Menu</ion-label>
    </ion-item-group>
  </div>
</ion-content>
