.header-text{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.view-qr-header{
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
    color: white;
    padding: 3%;
    font-family: Montserrat;
}

.qr-card{
    margin-top: 30%;
    margin-left: 6%;
    margin-right: 28%;
    position: relative;
    left: 10.5%;
}

.navigation-buttons{
    display: flex;
    position: fixed;
    top: 90%;
    left: 15%;
    width: 70%;
    height: 6%;

    .finish-button {
        font-size: 18px;
        font-weight: bold;
        --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
        font-family: Montserrat;
        flex: 1;
        margin: 0 10px;
    }
}

ion-item {
    --background: transparent;
  }