.header-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.authorization-header{
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
    color: white;
    padding: 3%;
    font-family: Montserrat;
}

canvas {
    margin-top: 5%;
    border: 2px solid gray;
    width: 100%;
}

#colored-canvas {
    background-color: #ffffff; 
}

.canvas-container {
    position: relative;
    display: flex;
    margin: 5%;
}
  
.clear-icon {
    position: absolute;
    top: 10%; 
    right: 87%; 
    font-size: 30px; 
    color: gray; 
    cursor: pointer; 

}

ion-checkbox {
    --border-color: #364B64;
    --checkbox-background-checked: #364B64;
    --border-color-checked: #364B64;
    top: 17px;
}

.authorization-card-content {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5em;
    color: black;
    padding: 0px 25px;
    margin-top: -10px;
 }

 .authorization-card{
    margin-left: 30px;
    margin-right: 30px;
    --background: transparent;
    box-shadow: none;
 }

 .navigation-buttons{
    display: flex;
    position: fixed;
    top: 90%;
    left: 15%;
    width: 70%;
    height: 6%;

    .prev-button {
        font-size: 25px;
        --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
        font-family: Montserrat;
        flex: 1;
        margin: 0 10px;
    }
    .submit-button{
        font-size: 18px;
        --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
        font-family: Montserrat;
        font-weight: bold;
        flex: 1;
        margin: 0 10px;
    }
}

.clear-icon {
    transition: transform 0.3s ease-in-out;
}
  
.clear-icon.clicked {
    transform: rotate(360deg);
}
  
span {
    color: red;
    font-size: 20px;
}
  