.header-text{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.data-privacy-header{
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
    color: white;
    padding: 3%;
    font-family: Montserrat;
}

p.dt-label {
  font-family: Roboto;
  font-weight: bold;
  color: #315D66;
  position: relative;
  margin: 6% 11.5%;
  top: 28px;
}

ion-item {
    --background: transparent;
}

.consent-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 17%;
    padding: 5% 12%;
    text-align: justify;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
  }
  
ion-checkbox {
   margin-left: 8.5%;
   --border-color: #364B64;
   --checkbox-background-checked: #364B64;
   --border-color-checked: #364B64;
   font-family: Roboto;
   font-weight: bold;
   font-size: 16px;
}

ion-button.start-button {
    margin-top: 60%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
    font-family: Montserrat;
}

.input-contents-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4%;
  padding-bottom: 1%;
  width: 100%;

  .return-to-home {
    cursor: pointer;
    font-family: Roboto;
    font-weight: bold;
    color: #364B64;
  }
}

.flex-group {
  display: flex;
  gap: 10px;
}
  

