<ion-header [translucent]="true" >
  <ion-toolbar class="health-info-header">
    <ion-title class="header-text">Health Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="client-app-bg"></div>

  <div class="progress-bar">
    <div [class.active]="stepProgressService.getCurrentStep() >= 1" class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>

  <div>
    <ion-title class="question-header1">Are you experiencing:</ion-title>
    <ion-title class="question-header2">(nakakaranas ka ba ng: )</ion-title>
  </div>

  <ion-list class="bg-transparent list-margin">
    <ion-item lines="none">
      <ion-label class="symptom-text">Fever (lagnat)</ion-label>
      <ion-radio-group [(ngModel)]="choice1">
        <ion-item lines="none">
          <ion-label class="choice">Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="choice">No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label class="symptom-text">Cough and/or colds (ubo at/o sipon)</ion-label>
      <ion-radio-group [(ngModel)]="choice2">
        <ion-item lines="none">
          <ion-label class="choice">Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="choice">No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="symptom-text">Body pains (pananakit ng katawan)</ion-label>
      <ion-radio-group [(ngModel)]="choice3">
        <ion-item lines="none">
          <ion-label class="choice">Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="choice">No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="symptom-text">Sore throat (pananakit ng lalamunan/masakit lumunok)</ion-label>
      <ion-radio-group [(ngModel)]="choice4">
        <ion-item lines="none">
          <ion-label class="choice">Yes</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="choice">No</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
  </ion-list>

  <div class="navigation-buttons">
    <ion-button expand="block" class="prev-button" shape ="round" (click)="goToPrevPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="next-button" shape ="round" [disabled]="!areAllChoicesSelected()" (click)="goToNextPage()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
