<ion-header [translucent]="true" >
  <ion-toolbar class="authorization-header">
    <ion-title class="header-text">Authorization</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="client-app-bg"></div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">authorization-employee-guest</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="canvas-container">
    <canvas #signaturePad width="300" height="200" id="colored-canvas"></canvas>
    <ion-icon name='refresh-circle-outline' class="clear-icon" [class.clicked]="isClicked" (click)="clearSignature()" animate></ion-icon>
  </div>

  <ion-card class="authorization-card">
    <ion-checkbox labelPlacement="end" [(ngModel)]="checkboxValue" required ></ion-checkbox>
    <ion-card-content class="authorization-card-content">
      <span> * </span>
      <ion-label>I hereby authorize <u>Bastion, Inc.</u>, to collect and process the data indicated herein for the purpose of contact tracing effecting control of the COVID-19 transmission. I understand that my personal information is protected by RA 10173 or the Data Privacy Act of 2012, and that this form will be destroyed after 30 days from the date of accomplishment, following the National Archives of the Philippines protocol.</ion-label>
    </ion-card-content>
  </ion-card>

  <div class="navigation-buttons">
    <ion-button expand="block" class="prev-button" shape ="round" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="submit-button" shape="round" (click)="saveSignature()" [disabled]="!checkboxValue || !signatureCaptured">
      Submit
    </ion-button>    
  </div>
</ion-content>
