<ion-content [fullscreen]="true">
  <div class="client-app-bg"></div>
  <div>
    <ion-img src="/assets/client-logo-landing.png" alt="logo 2"></ion-img>
  </div>
  <ion-title class="header1">HEALTH DECLARATION</ion-title>
  <ion-title class="header2">FORM</ion-title>
  <ion-button expand="block" class="landing-button1" shape="round" (click)="goToGuestRegister()">PROCEED AS GUEST</ion-button>
  <ion-button expand="block" class="landing-button2" shape="round" (click)="goToEmployeeRegister()">CREATE AN ACCOUNT</ion-button>
</ion-content>
