ion-img {
    position: fixed;
    top: 0;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    height: 60%;
}

ion-title.header1 {
    color: var(--primary-color, #315D66);
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 20%;
    bottom: 40%;
    left: 0;
    right: 0;
}

ion-title.header2 {
    color: var(--primary-color, #315D66);
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 30%;
    bottom: 40%;
    left: 0;
    right: 0;
}

ion-button.landing-button1 {
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);   
    position: fixed;
    top: 40%;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 50px;
    font-weight: 700;
    font-size: 18px; 
    font-family: Montserrat;
}

ion-button.landing-button2 {
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);   
    position: fixed;
    top: 50%;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 50px;
    font-weight: 700;
    font-size: 18px; 
    font-family: Montserrat;
}

