<ion-header [translucent]="true" >
  <ion-toolbar class="temp-header">
    <ion-label class="header-text">Temperature and Summary</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="client-app-bg"></div>
  <div class="input-contents">
    <ion-input label="Temperature" label-placement="floating" fill="outline" placeholder="°C" type="text" (input)="onNumericInput($event)" [(ngModel)]="temp" (ngModelChange)="checkEmptyFields()" maxlength="4"></ion-input>
  </div>
  <h1>Health Information</h1>
  <div class="input-contents-2">
    <div class="health-contents" *ngFor="let x of healthData">
      <ion-grid>
        <ion-row *ngFor="let x of healthData">
          <ion-col>
            <h3 [ngStyle]="{ color: x.condition1 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition1 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition2 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition2 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition3 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition3 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition4 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition4 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition5 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition5 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition6 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition6 }} 
            </h3>
           </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition7 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition7 }} 
            </h3>
           </ion-col>
                          <ion-col>
                            <h3>
                              {{ x.location1 || 'N/A' }} <!-- Display "N/A" if location1 is null or empty -->
                            </h3>
                          </ion-col>
           <ion-col>
            <h3 [ngStyle]="{ color: x.condition8 === 'yes' ? 'green' : 'red' }"> 
             {{ x.condition8 }} 
            </h3>
           </ion-col>
                          <ion-col>
                            <h3>
                              {{ x.location2 || 'N/A' }} <!-- Display "N/A" if location2 is null or empty -->
                            </h3>
                          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="input-contents-3">
    <ion-item-group class="flex-group t-and-c">
      <ion-checkbox labelPlacement="end"[(ngModel)]="checkboxValue" (ngModelChange)="checkEmptyFields()"></ion-checkbox>
      <ion-label>I hereby declare that the information provided is true and correct.</ion-label>
    </ion-item-group>
  </div>
  <div class="input-contents-4">
    <ion-item-group class="flex-group save-changes" (click)="saveChanges()">
      <ion-icon name="save-sharp"></ion-icon>
      <ion-label>Save Changes</ion-label>
    </ion-item-group>
  </div>
  <div class="navigation-buttons">
    <ion-button expand="block" class="prev-button" shape ="round" (click)="goToPrevPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="next-button" shape ="round" [disabled]="hasEmptyFields" (click)="goToNextPage()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>