.header-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
  
.temp-header {
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);
    color: white;
    padding: 3%;
    font-family: Montserrat;
}

.input-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 7%;
    
    ion-input {
        background: white;
        width: 100%;
        margin-bottom: 10px;
        --highlight-color: var(--highlight-color-focused);
    }
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0% 6%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 7%;
    position: relative;
    overflow-y: scroll;
    text-transform: uppercase;
}

.input-contents-2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 3%;
    border: 1px solid black;
    background-color: white;
    position: relative;
    overflow-y: scroll;

    .health-contents {
        display: flex;
        flex-direction: row;

        ion-grid, ion-row, ion-col, .tableHeader {
            display: block;
        }
        
        ion-col {
            display: flex;
            font-size: 16px;
            font-weight: bold;
            margin: auto 0;
            height: 50px;
            position: relative;
        }
        
        ion-col:before {
            display: inline-block;
            width: 100%;
            margin: auto auto;
            padding-right: 25%;
            padding-left: 5%;
        }
        
        ion-col:nth-of-type(1):before { content: "Fever"; }
        ion-col:nth-of-type(2):before { content: "Cough and/or Colds"; }
        ion-col:nth-of-type(3):before { content: "Body Pains"; }
        ion-col:nth-of-type(4):before { content: "Sore Throat"; }
        ion-col:nth-of-type(5):before { content: "Face-to-face Contact"; }
        ion-col:nth-of-type(6):before { content: "Provided Direct Care w/o PPE"; }
        ion-col:nth-of-type(7):before { content: "Traveled outside the Country"; }
        ion-col:nth-of-type(8):before { content: "Specified Location"; }
        ion-col:nth-of-type(9):before { content: "Traveled outside the Municipality"; }
        ion-col:nth-of-type(10):before { content: "Specified Location"; }
        
        h3 {
            margin: auto auto;
            margin-right: 10%;
            font-size: 16px;
            font-weight: bold;
            text-align: right;
            text-transform: capitalize;
        }
    }
}

.input-contents-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0% auto;
    padding: 0% 6%;

    ion-checkbox {
        --border-color: #364B64;
        --checkbox-background-checked: #364B64;
        --border-color-checked: #364B64;
    }

    .t-and-c {
        margin: 6% 0%;
    }
  
    ion-item-group{
        margin-bottom: 2%;
    }

    ion-label {
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        white-space: normal;
    }
}

.input-contents-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0% auto;
    font-weight: bold;
    top: 6%;
  
    .save-changes {
        cursor: pointer;
        font-family: Roboto;
        color: #315D66;
        transform: translateY(0);
        transition: transform 0.3s ease-out;
        &:active {
            transform: translateY(3px); 
        }
    }

    ion-icon {
        transform: scale(1.6);
    }
}

.navigation-buttons{
    display: flex;
    position: relative;
    top: 13%;
    left: 15%;
    width: 70%;
    height: 6%;

    .prev-button, .next-button {
        font-size: 25px;
        --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
        font-family: Montserrat;
        flex: 1;
        margin: 0 10px;
    }
}
  
.flex-group {
    display: flex;
    gap: 10px;
}