<ion-header [translucent]="true" >
  <ion-toolbar class="health-info-header">
    <ion-title class="header-text">Health Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="client-app-bg"></div>

  <div class="progress-bar">
    <div [class.active]="stepProgressService.getCurrentStep() >= 1" class="circle"></div>
    <div [class.active]="stepProgressService.getCurrentStep() >= 2" class="circle"></div>
    <div class="circle"></div>
  </div>

  <div>
    <div>
      <p class="question-text">
        Have you had face-to-face contact with a probable or confirmed COVID-19 case within 1 meter and for more than 15 minutes for the past 14 days?
      </p>
    </div>
    <div>
      <p class="question-text">
        (May nakasalamuha ka ba na probable or kumpirmadong pasenyente na may COVID-19 mula sa isang metrong distansya or mas malapit pa at tumagal ng mahigit 15 minuto sa nakalipas na 14 araw?)
      </p>
    </div>
    <ion-radio-group [(ngModel)]="choice1">
      <ion-item lines="none">
        <ion-label class="choice">Yes</ion-label>
        <ion-radio value="yes"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="choice">No</ion-label>
        <ion-radio value="no"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div>
    <div>
      <p class="question-text">
        Have you provided direct care for a patient with a probable or confirmed COVID-19 Case without using proper personal protective equipment for the past 14 days?
      </p>
    </div>
    <div>
      <p class="question-text">
        (May nakasalamuha ka ba na probable or kumpirmadong pasenyente na may COVID-19 mula sa isang metrong distansya or mas malapit pa at tumagal ng mahigit 15 minuto sa nakalipas na 14 araw?)
      </p>
    </div>
    <ion-radio-group [(ngModel)]="choice2">
      <ion-item lines="none" class="bg-transparent">
        <ion-label class="choice">Yes</ion-label>
        <ion-radio value="yes"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="bg-transparent">
        <ion-label class="choice">No</ion-label>
        <ion-radio value="no"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="navigation-buttons">
    <ion-button expand="block" class="prev-button" shape ="round" (click)="goToPrevPage()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="next-button" shape ="round" [disabled]="!areAllChoicesSelected()" (click)="goToNextPage()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>
