.header-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
  
.health-info-header{
    --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);
    color: white;
    padding: 3%;
    font-family: Montserrat;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
  
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 20px;
    border: 2px solid #355065; 
    background-color: white;
}
  
.circle.active {
    background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);
}

.question-text {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    padding: 0 5%;
}

ion-item {
    --background: transparent;
    ion-label.choice {
        font-family: Montserrat;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 15px;
        margin-right: 5px;
    }
}

ion-radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4%;
}
  
ion-radio {
    --color: #315d66;
    --color-checked: #315d66; 
    &::after {
      background-color: var(--color-checked); 
    }
}

.navigation-buttons{
    display: flex;
    position: fixed;
    top: 90%;
    left: 15%;
    width: 70%;
    height: 6%;

    .prev-button, .next-button {
        font-size: 25px;
        --background: linear-gradient(19deg, rgba(63,43,96,1) 27%, rgba(49,93,102,1) 54%);    
        font-family: Montserrat;
        flex: 1;
        margin: 0 10px;
    }
}

